body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/background.png) no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Gugi', cursive;
  color: white;  
}
